body {
    background-color: lightslategray;
    padding: 0em;
    margin: 0em;
    font-family: sans-serif;
}

.titleBar {
    background-color: #343a40;
    padding: 1em;
    color: #f5f5f5;
    font-size: 22pt;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
}

#tablesDiv {
    margin: auto;
    width: 80%;
}

table {
    display: inline-block;
    border-collapse: collapse;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
}
tr {
    border-bottom: 1px solid gray;
    background-color: #f5f5f5;
}
tr:hover {
    background-color: lightsalmon;
    cursor:pointer;
}
td {
    padding: 1em;
    border-bottom: 1px solid gray;
}
th {
    background-color: #343a40;
    padding: 1em;
    color: #f5f5f5;
}

button {
    font-weight: bold;
}

.onButton {
    background-color: forestgreen;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    text-align: center;
}
.offButton {
    background-color: red;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    text-align: center;
}
button:hover {
    cursor: pointer;
}