<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Place Finder - Login</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
</head>
<body>
<div class="titleBar">
    <a style="font-weight: bold; font-size: 22pt;">Place Finder</a>
</div>
<div class="log-form">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
        <div th:if="${param.error}">
            Invalid username and/or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <input type="text" name="username" id="inputUsername" class="log-input" placeholder="Username" required="" /><br>
        <input type="password" name="password" id="inputPassword" class="log-input" placeholder="Password" required="" /><br>
        <button class="btn" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>