<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
</head>
<body>
    <!-- Include _menu.html -->
    <div layout:fragment="content">
        <h1>Main Page</h1>
        <h3>Welcome <span th:utext="${username}"></span></h3>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <a class="nav-link" th:href="@{/user/__${username}__}" th:text="${username}"></a>
    </div>
</body>
</html>