<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
    <script type="text/javascript">
        function setDatePicker() {
            //blocks all dates before current date
            var today = new Date().toISOString().split('T')[0];
            var datepicker = document.getElementById("dateSelect")
            datepicker.setAttribute("min", today);
            datepicker.setAttribute("value", today);
        }
        function dismissNotification(elem) {
            elem.style.display = "none";
        }
    </script>
</head>
<body onload="setDatePicker()"><!-- th:with="uid=${username}">-->
    <div class="titleBar">
        <a style="font-weight: bold; font-size: 22pt;">Place Finder</a>
        <div class="dropdown">
            <button th:utext="${username}" class="dropbtn"></button>
            <div class="dropdown-content">
                <a href="#" class="content" th:href="@{/user/__${username}__}">Profile</a>
                <form id="logoutform" th:action="@{/logout}" method="post">
                    <a href="#" class="logoutbtn" onclick="document.getElementById('logoutform').submit();">Sign Out</a>
                </form>
                </a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="wrapper">
        <div class="notification-wrapper">
            <div th:switch="${notification}">
                <div th:case="true" class="covid-notification" onclick="dismissNotification(this)">
                   WARNING <br> You were traced as a potential contact of a confirmed Covid-19 case. Please take the necessary precautions.
                </div>
            </div>
        </div>
        <br><br>
        <div class="selectRoomDiv">
            <form th:action="@{/checkRoomStatus}" method="post">
                <select id="roomSelect" name="id" required th:placeholder="Room_id">
                    <option th:each="room: ${rooms}" th:utext="${room.idRoom}" th:value="${room.idRoom}"></option>
                </select>
                <input id="dateSelect" name="date" type="date" required placeholder="date">
                <select id="slotSelect" name="slot" required placeholder="time slot">
                    <option th:each="slot: ${slots}" th:text="${slot.startTime} +' - '+ ${slot.endTime}" th:value="${slot.idSlot}"></option>
                </select><br><br>
            <input type="submit" value="Check Availability" class="confirmBut"/>
            </form>
        </div>
        <div class="erlangWrapper">
            <div id="erlangDiv">
                <div class="board">
                </div>
                <input type="text" placeholder="Write a message to the Board..."><br>
                <button>Post</button>
            </div>
        </div>
    </div>
</body>
</html>