<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Reservation Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
    <script type="text/javascript" th:inline="javascript">
        function reserve(username) {
            var room = document.getElementById("roomSelect").textContent;
            var date = document.getElementById("dateSelect").textContent;
            var slot = document.getElementById("slotSelect").textContent;

            var urlstring = "/reservation"+"?selectedRoom="+room+"&selectedDate="+date+"&selectedSlot="+slot;

            $.ajax({
                url : urlstring,
                success: function(response) {
                    //alert(response);
                    location.replace(response+"/"+username);
                }
            });
        }
    </script>
</head>
<body id="bodyId" th:reservedSeats="${reservedSeats}" th:availableSeats="${availableSeats}" th:onload="disableButton([[${reservedSeats}]], [[${availableSeats}]])" >
<script type="text/javascript" th:inline="javascript">
    function disableButton(reservedSeats, availableSeats){
        var elem = document.getElementById("confirmButton");
        if(availableSeats === 0 || reservedSeats===availableSeats){
            elem.disabled = true;
        }
        else{
            elem.disabled = false;
        }
    }
</script>
<div class="titleBar">
    <a style="font-weight: bold; font-size: 22pt;">Place Finder</a>
    <div class="dropdown">
        <button th:utext="${username}" class="dropbtn"></button>
        <div class="dropdown-content">
            <a class="content" th:href="@{/main}">Home</a>
            <form id="logoutform" th:action="@{/logout}" method="post">
                <a href="#" class="logoutbtn" onclick="document.getElementById('logoutform').submit();" style="color:darkred;">Sign Out</a>
            </form>
            </a>
        </div>
    </div>
</div>
<div class="wrapper">
    <h3>Reservation Ticket</h3>
    <div class="reservation-table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ROOM</th>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th hidden></th>
                    <th>OCCUPIED SEATS</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="roomSelect" th:utext="${selectedRoom}"></td>
                    <td id="dateSelect" th:utext="${selectedDate}"></td>
                    <td id="slotSelect" hidden th:each="selectedSlot: ${selectedSlots}" th:utext="${selectedSlot.idSlot}"></td>
                    <td th:each="selectedSlot: ${selectedSlots}" th:text="${selectedSlot.startTime} +' - '+ ${selectedSlot.endTime}"></td>
                    <td th:utext="${reservedSeats} +' / '+ ${availableSeats}"></td>
                    <td th:switch="${status}">
                        <p th:case="0" style="font-weight: bold; color:green;">Open</p>
                        <p th:case="1" style="font-weight: bold; color:gold;">Lesson</p>
                        <p th:case="2" style="font-weight: bold; color:darkred;">Closed</p>
                    </td>

                </tr>
            </tbody>
        </table>
        <br>
        <button id="confirmButton" class="confirmBut" th:usr="${username}" onclick="reserve(this.getAttribute('usr'))" >Confirm</button>
        <br><br>
        <button class="confirmBut" th:onclick="|window.location.href='@{/main}'|">Cancel</button>
    </div>
</div>
</body>
</html>